.bonuses-wrap {
    position: relative;
}
.bonuses {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -65px;
    border: 1px solid #f0f0f0;
    background-color: white;
    &__item {
        display: flex;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 30px;
        padding-bottom: 30px;
        & p {
            padding-left: 15px;
        }
    }
}

