.most-popular-item {
    height: 301px;
    position: relative;
    border: 1px solid #e55472;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    @media (max-width: $width992) {
        height: 200px;
        width: 180px;
    }
    &:hover .image {
        opacity: 0.3;
    }
    &:hover .middle {
        opacity: 1;
    }
}
.image {
    opacity: 1;
    display: block;
    transition: 0.5s ease;
    backface-visibility: hidden;
    width: 85%;
    height: 85%;
}
.middle {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
}
