.most-popular-item {
    height: 301px;
    position: relative;
    border: 1px solid #e55472;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    &:hover .image {
        opacity: 0.3;
    }
    &:hover .middle {
        opacity: 1;
    }
}
.image {
    opacity: 1;
    display: block;
    transition: 0.5s ease;
    backface-visibility: hidden;
    width: 85%;
    height: 85%;
}
.middle {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
}
.text {
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    border-radius: 50px;
    font-weight: 600;
    background-color: #e55472;
    transition: 0.3s;
    &:hover {
        color: white;
        background-color: #565656;
    }
}
