.product__previev-hover {
    position: absolute;
    top: 60%;
    left: 0;
    right: 0;
    text-align: center;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: black;
    & ul {
        margin: 0;
        padding: 0;
        display: inline-block;
        -webkit-box-shadow: var(--ltn__box-shadow-3);
        box-shadow: var(--ltn__box-shadow-3);
        & li {
            height: 50px;
            width: 56px;
            line-height: 50px;
            font-size: 14px;
            text-align: center;
            float: left;
            margin-right: 0px;
            margin-top: 0;
            list-style: none;
            border-right: 1px solid var(--border-color-7);
        }
    }
}
