.slider {
    max-width: 615px;
    z-index: 10;
    position: absolute;
    top: 25%;
    padding-left: 40px;
    &__wrap {
        background-color: white;
        max-height: 700px;
    }
    &__title {
        font-size: 72px;
        line-height: 1;
        color: #434343;
        font-weight: 700;
    }
    &__discription {
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 25px;
        font-weight: 400;
    }
    &__discription-bottom {
        padding-bottom: 30px;
    }
}
.css-adaptive-image {
    display: block;
    width: 100%;
}
.slick-list {
    height: 100%;
}
.slick-slide img {
    display: block;
    max-height: 700px;
}
.slick-slider {
    @media (max-width: $width992) {
        display: none;
    }
}