@import './header/header';
@import './home/actions';
@import './home/bonuses';
@import './home/mostPopularIteem';
@import './home/mostPopular';
@import './home/slider';
@import './shop/shopItem';
@import './shop/shop';
@import './cart/cart';
@import './cart/cartItem';
@import './sortSettings/sortSettings';
@import './notFound/notFound';
@import './footer/footer';



