.product {
    width: 260px;
    height: 420px;
    &__previev {
        height: 301px;
        background-color: white;
        position: relative;
        border: 1px solid bisque;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        & img {
            width: 85%;
            align-self: center;
            height: 85%;
        }
    }
    &__namePrice {
        padding-top: 20px;
        text-align: center;
    }
    &__discount {
        position: absolute;
        top: 15px;
        left: 15px;
    }
    &__price {
        font-weight: 600;
    }
    &__name {
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 400;
    }
    &__add-to-cart {
        position: absolute;
        bottom: 6px;
        right: 46px;
    }
}
