.product {
    margin-bottom: 15px;
    &__previev {
        height: 301px;
        background-color: white;
        position: relative;
        border: 1px solid #e55472;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        & img {
            width: 85%;
            align-self: center;
            height: 85%;
        }
    }
    &__name-price {
        padding-top: 20px;
        text-align: center;
    }
    &__discount {
        position: absolute;
        top: 15px;
        left: 15px;
    }
    &__price {
        font-weight: 600;
    }
    &__name {
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 400;
    }
    &__add-to-cart {
        position: absolute;
        bottom: 0px;
        background-color: #e55472;
        border-radius: 3px;
        color: white;
        font-weight: 500;
        width: 100%;
        padding: 0.5em;
        text-align: center;
        transition: 0.3s;
        &:hover {
            background-color: #565656;
            color: white;
        }
        & button {
            width: 100%;
        }
    }
    &__added-count {
        display: inline-block;
        position: absolute;
        right: 17px;
        color: white;
    }
}
