.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.shop-data {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    padding-top: 15px;
    align-items: center;
}
.shop-pagination {
    display: flex;
    justify-content: center;
    cursor: pointer;
    & span {
        font-size: 17px;
        font-weight: 700;
        height: 25px;
        width: 25px;
        line-height: 25px;
        color: #e55472;
        text-align: center;
        right: 11px;
        top: -5px;
        margin-right: 10px;
        margin-top: 15px;
    }
    &__current-page {
        border-bottom: 2px #e55472 solid;
    }
}
