.footer-wrapper {
    background-color: #272829;
    margin-top: 50px;
    & h4 {
        color: white;
        margin-bottom: 10px;
        font-size: 15px;
        text-transform: uppercase;
        font-weight: 500;
    }
}

.footer__blocks {
    display: flex;
    color: white;
    justify-content: space-between;
    padding: 15px;
    padding-top: 25px;
    border-bottom: 1px solid #3b3c3d;
    text-align: center;
    &-bottom {
        padding: 15px;
        display: flex;
        justify-content: space-between;
    }
}
