$screen-phone: 330px;
$screen-tablets: 768px;
$screen-desktops: 992px;
$screen-big-desktops: 1280px;

$screen-phone-max: 767px;
$screen-tablets-max: 991px;
$screen-desktops-max: 1199px;

.container {
    max-width: $screen-big-desktops;
}

.header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-self: center;
    padding-top: 15px;
    padding-bottom: 15px;
    &-logo {
        align-self: center;
    }
    & h6 {
        font-size: 13px;
        font-weight: 500;
    }
    & a {
        font-size: 13px;
        font-weight: 500;
        color: #666666;
    }
}

.phone {
    display: flex;
    align-self: center;
    padding-right: 30px;
    &-search {
        display: flex;
        align-self: center;
    }
}

.icon-phone-wrap {
    display: flex;
    align-self: center;
    padding-right: 15px;
    & i {
        font-size: 20px;
    }
}

.search {
    min-width: 500px;
    padding: 25px 0;
    & form {
        position: relative;
    }
    & input {
        margin-bottom: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-radius: 50px;
        padding-left: 20px;
        padding-right: 50px;
        height: 45px;
        border: 1px solid black;
        background-color: white;
        min-width: 500px;
    }
    & button {
        position: absolute;
        right: 0;
        background-color: transparent;
        height: 45px;
        top: 0;
        padding: 0 15px;
        font-size: 18px;
        border: none;
    }
}

.icon-magnifer {
    font-family: "simple-line-icons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.header nav {
    align-self: center;
}

.top-navigation {
    border-top: 1px solid #f0f0f0;
    display: flex;
    justify-content: center;
    height: 67px;
    & ul {
        display: flex;
        align-self: center;
        & li {
            display: inline-block;
            position: relative;
            margin-right: 45px;
            font-size: 13px;
            font-weight: 500;
        }
    }
}

.cart {
    display: flex;
    align-self: center;
    &-info {
        display: flex;
        & sup {
            font-size: 12px;
            font-weight: 600;
            height: 20px;
            width: 20px;
            line-height: 20px;
            background-color: red;
            color: white;
            text-align: center;
            border-radius: 100%;
            right: 11px;
            top: -5px;
            position: absolute;
        }
        & h6 {
            font-size: 13px;
            font-weight: 500;
        }
    }
    &-sup {
        position: relative;
        padding-right: 24px;
        align-self: center;
    }
    &-price {
        color: red;
    }    
}

.icon-handbag:before {
    content: "\e035";
    font-weight: 600;
}
