$screen-tablets: 500px;
$width744: 744px;
$width992: 992px;
$width1280: 1280px;

.header {
    display: flex;
    justify-content: space-between;
    align-self: center;
    padding-bottom: 15px;
    padding-top: 15px;
    background-color: white;
    & p {
        font-size: 13px;
        font-weight: 500;
    }
}
.header-logo {
    align-self: center;
    & img {
        height: 83px;
    }
}
.phone {
    @media (max-width: $width992) {
        display: none;
    }
    display: flex;
    align-self: center;
    padding-right: 30px;
    &-search {
        display: inherit;
    }
}
.icon-phone {
    display: flex;
    align-self: center;
    padding-right: 15px;
    font-size: 20px;
}
.search {
    @media (max-width: $width992) {
        display: none;
    }
    min-width: 500px;
    padding: 25px 0;
    & form {
        position: relative;
    }
    & input {
        min-width: 500px;
        height: 45px;
        margin-bottom: 0;
        border-radius: 50px;
        border: 1px solid black;
        background-color: white;
        padding-left: 20px;
        padding-right: 50px;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    & button {
        position: absolute;
        right: 0;
        height: 45px;
        padding: 0 15px;
        font-size: 18px;
    }
}
.header-cart-link {
    display: flex;
    align-self: center;
    &__cart-info {
        display: flex;
        & sup {
            font-size: 12px;
            font-weight: 600;
            height: 20px;
            width: 20px;
            line-height: 20px;
            background-color: #e55472;
            color: white;
            text-align: center;
            border-radius: 100%;
            right: 11px;
            top: -5px;
            position: absolute;
        }
    }
    &__cart-sup {
        position: relative;
        padding-right: 24px;
        align-self: center;
        font-size: 17px;
    }
    &__cart-price {
        color: #e55472;
    }
    &__icon-handbag:before {
        content: "\e035";
        font-weight: 500;
    }
}
