.cart-item-wrapper {
    border-top: 1px solid #f0f0f0;
}
.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 500;
    cursor: pointer;
    &__remove {
        width: 89px;
        background-color: #f7f7f7;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 20px;
        transition: 0.3s;
        &:hover {
            color: white;
            background-color: #565656;
        }
    }
    &__image {
        width: 100px;
        height: 100px;
    }
    & img {
        width: 100%;
    }
    &__quantity {
        display: flex;
        justify-content: space-between;
        background-color: #f7f7f7;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 20px;
        transition: 0.3s;
        &-item {
            width: 16px;
            text-align: center;
        }
        &:hover {
            background-color: #565656;
            color: white;
        }
    }
    &__subtotal {
        width: 60px;
        &-total__price {
            color:  #e55472;
        }
    }
}
