@import "components/all";
@import "variables";
@import "libs/normalize";
@import "fonts";
@import "responsive";

.general-wrapper {
  margin: 0 auto;
  & a {
   color: #565656;
  }
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}
