@import "components/all";
@import "variables";
@import "libs/normalize";
@import "fonts";
@import "responsive";

.general-wrapper {
  margin: 0 auto;
  & a {
    color: #565656;
  }
  @media (max-width: $width992) {
    h1 {
      font-size: 20px;
      font-weight: 600;
    }
    h4 {
      font-size: 11px;
    }
    ul li {
      font-size: 14px;
    }
    p {
      font-size: 14px;
    }
    span {
      font-size: 14px;
    }
  }
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.button {
  max-height: 50px;
  max-width: 140px;
  padding: 17px;
  border-radius: 50px;
  font-weight: 600;
  background-color: #e55472;
  color: white;
  transition: 0.3s;
  &:hover {
    background-color: #565656;
    color: white;
  }
}
